@charset "UTF-8";

body {
	background: lightblue; /* 배경색 지정 */
	color: red; /* 글자색 지정 */
}

hr {
	width: 500px;
	height: 100px;
	background: blue;
}
p {
	width:500px;
	height:100px;
	background: purple;
	
}